{% extends 'base.html' %}

{% block title %}
    Crear evento
{% endblock %}

{% block header %}
    Crear evento
{% endblock %}

{% block content %}
    <div>
        <p>Próximos eventos:</p>
        <ul>
        {% for event in events %}
            <li>{{event.name}} {{ event }}</li>
        {% endfor %}
        </ul>
    </div>
    
    <div>
        <p>Crear un nuevo evento:</p>
        <form method="POST" action="{% url 'add_event' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Crear evento">
        </form>
    </div>
{% endblock %}
