{% extends 'base.html' %}

{% block header %}
    Attender
{% endblock %}

{% block content %}
    <h2>Details</h2>
    <p>Name: {{ attender.name }}</p>
    <p>Surname: {{ attender.surname }}</p>
    <p>Email: {{ attender.email }}</p>
    <h2>Attendances</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.date }}</td>
                    {% if event in attendances %}
                        <td>Yes</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

{% endblock %}
