{% extends 'base.html' %}

{% block title %}
    List attender
{% endblock %}

{% block header %}
    Attender
{% endblock %}

{% block content %}
    <div>
        <h2>Información del usuario</h2>
        <div class="user-info">
            <span>
                <p>Usuario: {{ attender.name }} {{ attender.surname }}</p>
                <p>Email: {{ attender.email }}</p>
            </span>
            <span>
                <button class="button-action button-green" id="send-qr">Enviar código QR</button>
            </span>
        </div>
    </div>
    <div>
        <h2>Asistencias</h2>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Asistencia</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ event }}</td>
                        {% if event in attendances %}
                            <td>SI</td>
                        {% else %}
                            <td>NO</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('send-qr').addEventListener('click', function() {
            const user = "{{ attender.name }} {{ attender.surname }}";
            const sendConfirmed = confirm('¿Estás seguro de que quieres enviar el código QR a ' + user + '?');
            
            if (sendConfirmed) {
                sendMail();
            }
        });

        async function sendMail(){
            const csrfToken = getCookie("csrftoken");
            const response = await fetch('{% url "mail_code" attender.id %}', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrfToken,
                },
            });

            const data = await response.json();
    
            if (response.ok) {
                alert(data.message);
            } else {
                alert(`Error: ${data.error || "Unknown error"}`);
            }
        };
    </script>
{% endblock %}
