{% extends 'base.html' %}

{% block title %}
    Asistentes
{% endblock %}

{% block header%}
    Asistentes
{% endblock %}

{% block content %}
    <div class="button-action-container">
        <button class="button-action button-green" id="add-attender">Agregar asistente</button>
        <button class="button-action button-green" id="download">Descargar excel</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Asistencia</th>
            </tr>
        </thead>
        <tbody>
            {% for attender in attenders %}
                <tr id="redirect-attender-{{ attender.attender.id }}">
                    <td>{{ attender.attender.name }} {{ attender.attender.surname }}</td>
                    <td>{{ attender.attendances }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock %}

{% block scripts %}
    <script>
        document.getElementById('add-attender').addEventListener('click', function() {
            window.location.href = '{% url "add_attender" %}';
        });

        {% for attender in attenders %}
            document.getElementById('redirect-attender-{{ attender.attender.id }}').addEventListener('click', function() {
                window.location.href = '{% url "attender_overview" attender.attender.id %}';
            });
        {% endfor %}

        document.getElementById('download').addEventListener('click', function() {
            window.location.href = '{% url "download_attendances" %}';
        });
    </script>
{% endblock scripts %}
    

