<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base template{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'checker/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'checker/css/form.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="header-main">
            <!-- Titolo dinamico della pagina -->
            <div class="navbar-brand">
                {% block header %}Base template{% endblock %}
            </div>
            

            <!-- Bottoni visibili solo per utenti autenticati -->
            {% if user.is_authenticated %}
                <div class="navbar-buttons">
                    <!-- Bottone Logout -->
                    <button id="logout" class="navbar-button logout-button">
                        <img class="navbar-image" src="{% static 'checker/images/logout.png' %}" alt="Logout" class="header-button-image">
                    </button>

                    <!-- Bottone Home -->
                    <button id="home" class="navbar-button">
                        <img class="navbar-image" src="{% static 'checker/images/home.png' %}" alt="Home" class="header-button-image">
                    </button>
                </div>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
        <div>User: {{ user.username }}</div>
        {% endif %}
    </header>
    

    <main>
        {% block content %}
        <p>Welcome to My Django App!</p>
        {% endblock %}
    </main>
    
    {% block scripts %}
    {% endblock %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split("; ");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        {% if user.is_authenticated %}
        document.getElementById("logout").addEventListener("click", () => {
            fetch("{% url 'logout' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken"),
                },
            }).then(() => {
                window.location.href = "{% url 'login' %}";
            });
        });
        document.getElementById("home").addEventListener("click", () => {
            window.location.href = "{% url 'home' %}";
            console.log("Home button clicked");
        });
        {% endif %}
        
    </script>
</body>
</html>
