{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block header %}Pagina de inicio{% endblock %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'checker/css/home.css' %}">
{% endblock %}

{% block content %}
    <h2>Opciones:</h2>
    {% for functionality in functionalities %}
        <button class="button-functionality" id="{{functionality}}">{{functionality.name}}</button>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script>
{% for functionality in functionalities %}
    document.getElementById("{{functionality}}").addEventListener("click", function() {
        window.location.href = "{{functionality.url}}";
    });
{% endfor %}
</script>
{% endblock %}