/* BEGIN: Buttons */
.button-action {
    width: 40vw;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
}

.button-action:disabled {
    opacity: 0.3;
}

.button-green {
    background-color: #4CAF50;
}

.button-red {
    background-color: #d9534f;
}

@media only screen and (max-width: 600px) {
    .button-action {
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .button-action-container {
        display: flex;
        align-items: center;
    }

    .button-send-qr {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
}
