<!DOCTYPE html>
<html>
<head>
    <title>Tu Código QR para el evento</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
        }
        .event {
            text-align: center;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hola {{ attender.name }}</h1>
        <p></p>
        <p>Confirmamos la presencia en el evento de:</p>
        <div class="event">
            <p>{{ event }}</p>
        </div>
    </div>
</body>
</html>